@media only screen and (max-width: 600px) {
    .mobile-hidden {
        display: none;
    }

    .result p{
        padding: 0 10px;
    }

    .scoreboard {
        margin: 20px auto;
    }

    .scoreboard #user-label {
        left: -41px;
    }

    .scoreboard #comp-label {
        left: 273px;
    }

    .choices {
        flex-wrap: wrap;
    }

    .choices .choice {
        margin: 15px 0;
    }

    footer {
        text-align: center;
    }

}